.container-fluid{
  padding-left: 500px;
}
.pause_icon{
  margin-left: 40px;
}
// #add_to_register{
//   // padding-left:px ;
// }
#today_text{
  padding-left: 150px;
  size: 200px;
}

#description_box{
  margin-left: 10px;

}

.form_box{
  height: 45px;
}
#description_box{
  height: 200px;
}